## ¿Cómo mejorar la retencion de clientes?: 
### Este proyecto tiene como objetivo desarrollar un modelo predictivo que permita identificar a los clientes con alta probabilidad de abandonar nuestra empresa (churn) y así implementar estrategias de retención efectivas.
####

In [ ]:
import pandas as pd
import numpy as np

### Preguntas de interes:
   * ¿Cuál es la distribución de las variables numéricas?
   * ¿Existen diferencias significativas entre los clientes que se quedan y los que se van?
   * ¿Hay variables altamente correlacionadas?
   * ¿Existen patrones temporales en el churn?
   * ¿Hay algún segmento de clientes particularmente propenso al churn?
   * Contamos con 3 tablas que asignaremos a los DF llamados customer, perfil e internet. Estas continen informacion de clientes de la empresa de servicios de internet.

In [5]:
ruta = "C:/Users/User/Proyecto Coder/data/raw/"

In [6]:
customer = pd.read_csv(f'{ruta}customer_data.csv')

Como mi data set tiene demasiados atributos cualitativos agregaré una columna de edad que siga 
la distribucion Normal entre 18 y 80 años

In [12]:
# Definimos los parámetros de la distribución normal
media_edad = 32  # es la edad promedio de argentina
desviacion_estandar = 15  # Ajusta la desviación estándar

# Generamos una serie de edades aleatorias siguiendo una distribución normal
edades_aleatorias = np.random.normal(loc=media_edad, scale=desviacion_estandar, size=len(df)).round(0).astype(int)

# Aseguramos que las edades estén dentro del rango de 18 a 80 años
edades_aleatorias = np.clip(edades_aleatorias, 18, 80)

# Convertimos la serie de edades a un DataFrame y la agregamos al DataFrame original
customer_edades = pd.DataFrame({'Edad': edades_aleatorias})
customer = pd.concat([customer, customer_edades], axis=1)

print(customer.head())

   customerID  gender  SeniorCitizen Partner Dependents  Edad
0  7590-VHVEG  Female              0     Yes         No    18
1  5575-GNVDE    Male              0      No         No    18
2  3668-QPYBK    Male              0      No         No    51
3  7795-CFOCW    Male              0      No         No    18
4  9237-HQITU  Female              0      No         No    36

In [8]:
perfil= pd.read_csv(f'{ruta}churn_data.csv')
perfil

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,34,Yes,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,45,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,24,Yes,One year,Yes,Mailed check,84.80,1990.50,No
7039,2234-XADUH,72,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No
7040,4801-JZAZL,11,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,4,Yes,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7042,3186-AJIEK,66,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

In [10]:
internet= pd.read_csv(f'{ruta}internet_data.csv')

### Joineamos las tablas y verificamos que esten todos los atributos y la nueva columna edad:

In [11]:
df = pd.merge(customer, internet, on ="customerID", how = "left")
df

,customerID,gender,SeniorCitizen,Partner,Dependents,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,Female,0,Yes,No,No phone service,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,Male,0,No,No,No,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,Male,0,No,No,No,DSL,Yes,Yes,No,No,No,No
3,7795-CFOCW,Male,0,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No
4,9237-HQITU,Female,0,No,No,No,Fiber optic,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes
7039,2234-XADUH,Female,0,Yes,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes
7040,4801-JZAZL,Female,0,Yes,Yes,No phone service,DSL,Yes,No,No,No,No,No
7041,8361-LTMKD,Male,1,Yes,No,Yes,Fiber optic,No,No,No,No,No,No
7042,3186-AJIEK,Male,0,No,No,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes

In [25]:
df = pd.merge(df, perfil, on ="customerID", how = "left")

In [26]:
df

,customerID,gender,SeniorCitizen,Partner,Dependents,Edad,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,StreamingTV,StreamingMovies,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,27,No phone service,DSL,No,Yes,...,No,No,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,57,No,DSL,Yes,No,...,No,No,34,Yes,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,18,No,DSL,Yes,Yes,...,No,No,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,18,No phone service,DSL,Yes,No,...,No,No,45,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,24,No,Fiber optic,No,No,...,No,No,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,18,Yes,DSL,Yes,No,...,Yes,Yes,24,Yes,One year,Yes,Mailed check,84.80,1990.50,No
7039,2234-XADUH,Female,0,Yes,Yes,43,Yes,Fiber optic,No,Yes,...,Yes,Yes,72,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No
7040,4801-JZAZL,Female,0,Yes,Yes,25,No phone service,DSL,Yes,No,...,No,No,11,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,18,Yes,Fiber optic,No,No,...,No,No,4,Yes,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7042,3186-AJIEK,Male,0,No,No,18,No,Fiber optic,Yes,No,...,Yes,Yes,66,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

Guardamos el DF en un archivo .csv dentro de la carpeta data/processed

In [29]:
df.to_csv('C:/Users/User/Proyecto Coder/data/processed/df_merged.csv')